<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>无回复问题分词统计工具</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1 style="font-weight:lighter;font-family:'微软雅黑'">
            无回复问题分词统计
            <small>Powered By Bellong.WYZ</small>
        </h1>
    </div>
<div id="StartPage">
    <div class="jumbotron">
        <h2>使用说明</h2>
        <div style="font-family: 微软雅黑;font-weight:lighter">请将要分析的txt文件扔进Anaylize文件夹中</div>
        <div style="font-family: 微软雅黑;font-weight:lighter">该工具针对的文本是由精灵系统V1.0导出的log文件格式，前7行会被跳过</div>
    </div>

    <div class="jumbotron">
        <h3>选择该次要分析的文件</h3>
        <p><a class="btn btn-primary" href="#" role="button"><input id="file_position" type="file"></a></p>
        <button id="GoToAnaylize" type="button" style="outline:none" class="btn btn-success btn-lg"
                onclick="GoToAnaylize()">分析
        </button>
    </div>
</div>
    <div id="Chart_1" style="width:1200px;height:600px"></div>
    <div style="margin:auto;text-align:center">
        <div class="btn-group" style="margin:20px">
            <button id="btn1" type="button" style="outline:none" class="btn btn-success btn-lag hidden"
                    onclick="FirstFifteenWords()">出现次数最高15项
            </button>
        </div>
        <div class="btn-group" style="margin:20px">
            <button id="btn2" type="button" style="outline:none" class="btn btn-primary btn-lg hidden"
                    onclick="PreviousFifteenWords()">前15项
            </button>
        </div>
        <div class="btn-group" style="margin:20px">
            <button id="btn3" type="button" style="outline:none" class="btn btn-primary btn-lg hidden"
                    onclick="NextFifteenWords()">后15项
            </button>
        </div>
        <div class="btn-group" style="margin:20px">
            <button id="btn4" type="button" style="outline:none" class="btn btn-success btn-lg hidden"
                    onclick="LastFifteenWords()">出现次数最少15项
            </button>
        </div>
    </div>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         style="overflow:scroll" aria-hidden="true">
        <div class="modal-dialog" style="width:1200px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Detail Anaylize</h4>
                </div>
                <div class="modal-body">
                    <div id="Chart_2" style="width:1200px;height:600px"></div>
                    <div style="text-align: center">
                        <div class="btn-group" style="margin:20px">
                            <button id="btn_add_stopword" type="button" style="outline:none"
                                    class="btn btn-danger btn-lg"
                                    onclick="AddToStopWordList(this)">该词加入停用词列表
                            </button>
                        </div>
                        <div class="btn-group" style="margin:20px">
                            <button id="btn_addYysWordList" type="button" style="outline:none"
                                    class="btn btn-success btn-lg"
                                    onclick="AddToYysWordList(this)">将该词加入用户字典
                            </button>
                        </div>
                    </div>


                    <div style="text-align:center" id="ResultList">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="sen in resultList">{{sen.sentence}}</li>
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         style="overflow:scroll" aria-hidden="true">
        <div class="modal-dialog" style="width:900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModal2Label">Detail Anaylize</h4>
                </div>
                <div class="modal-body">

                    <div style="text-align:center" id="ResultList2">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="sen in resultList">{{sen.sentence}}</li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal" id="CheckSecondWord" style="font-weight:lighter" onClick="CheckSecondeWordFromModal()">Check</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="myModalLoading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         style="overflow:scroll" aria-hidden="true">
        <div class="modal-dialog" style="width:900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Loading...</h4>
                </div>
                <div class="modal-body">
                    <div class="loader" id="loading-icon" style="height:300px">
                        <div class="loader-inner">
                            <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                            </div>
                            <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                            </div>
                            <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                            </div>
                            <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                            </div>
                            <div class="loader-line-wrap">
                                <div class="loader-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

</body>
<script type="text/javascript" src="/eel.js"></script>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/test.js"></script>
</html>